.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #e7e6e2;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.topBarAuto {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  background: #ffffff;
  column-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 229px;
  border-bottom: 1px solid #53535333;
}
@media (min-width: 0px) and (max-width: 768px) {
  .topBarAuto {
    animation: none;
    margin-bottom: 0px;
    padding: 0px;
  }
}
.freeBox__i524M {
  animation: none;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  column-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i524M {
    animation: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.freeBox___5M7Zn {
  animation: none;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 982px;
  height: 40px;
  column-gap: 8px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5M7Zn {
    animation: none;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
  }
}
.navigationBar:global(.__wab_instance) {
  animation: none;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  height: 40px;
  position: relative;
  left: auto;
  top: auto;
  align-content: center;
  padding: 16px;
  margin: 0px;
}
.link__dWq6J {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  cursor: pointer;
  min-width: 0;
  padding: 0px 400px 0px 0px;
}
.img___6S5Ud {
  animation: none;
  object-fit: cover;
  height: 30px;
  object-position: 100% 100%;
  position: relative;
  left: auto;
  top: auto;
}
.img___6S5Ud > picture > img {
  object-fit: cover;
  object-position: 100% 100%;
}
.img__jF5Ho {
  animation: none;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
}
.img__jF5Ho > picture > img {
  object-fit: cover;
}
.img__oVm93 {
  animation: none;
  object-fit: cover;
}
.img__oVm93 > picture > img {
  object-fit: cover;
}
.link__lCy56 {
  animation: none;
  position: relative;
  width: 90px;
  height: 40px;
  max-width: 100%;
  left: auto;
  top: auto;
  text-align: center;
  font-size: 11px;
  color: #545454;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  border-right: 1px solid #0000000d;
}
.root .link__lCy56:hover {
  color: var(--token-m_dAPYJ5EIvi);
}
.root .link__lCy56:active {
  color: var(--token-kmgKuNT2vqAV);
}
.link__npsrp {
  animation: none;
  position: relative;
  width: 90px;
  height: 40px;
  max-width: 100%;
  left: auto;
  top: auto;
  font-size: 11px;
  text-align: center;
  color: #545454;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  border-right: 1px solid #0000000d;
}
.root .link__npsrp:hover {
  color: var(--token-m_dAPYJ5EIvi);
}
.root .link__npsrp:active {
  color: var(--token-kmgKuNT2vqAV);
}
.link__kVooB {
  animation: none;
  position: relative;
  width: 90px;
  height: 40px;
  max-width: 100%;
  left: auto;
  top: auto;
  font-size: 11px;
  text-align: center;
  color: #545454;
  cursor: not-allowed;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  border-right: 1px solid #0000000d;
}
.root .link__kVooB:hover {
  color: var(--token-m_dAPYJ5EIvi);
}
.root .link__kVooB:active {
  color: var(--token-kmgKuNT2vqAV);
}
.link__ztJCd {
  animation: none;
  position: relative;
  width: 90px;
  height: 40px;
  max-width: 100%;
  left: auto;
  top: auto;
  font-size: 11px;
  text-align: center;
  color: #545454;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  border-right: 1px solid #0000000d;
}
.root .link__ztJCd:hover {
  color: var(--token-m_dAPYJ5EIvi);
}
.root .link__ztJCd:active {
  color: var(--token-kmgKuNT2vqAV);
}
.account3:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  width: 30px;
  height: 30px;
  padding-left: 0px;
  margin-left: 4px;
  font-size: 12px;
  color: #cb1717;
  box-shadow: none;
  font-weight: 300;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.account3__dropdownMenu:global(.ant-dropdown-menu) {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: linear-gradient(90deg, #ffffff 0%, #e7e6e280 100%);
  outline: none;
}
.account3__dropdownMenu:global(.ant-dropdown-menu)
  :global(.ant-dropdown-menu-item) {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 12px;
  outline: none;
}
.account3__dropdownMenu:global(.ant-dropdown-menu)
  :global(.ant-dropdown-menu-item-active) {
  background: #e7e6e2;
  outline: none;
}
.menuItem__ksNlz:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.text__fSg {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.menuItem__jYqFq:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.text__sVkUi {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.button:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  border-width: 0px;
}
.img__rOpkz {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 11px;
}
.img__rOpkz > picture > img {
  object-fit: cover;
}
.container1 {
  animation: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 1064px;
  height: 200px;
  max-width: 100%;
  background: #ffffff;
  position: relative;
  left: auto;
  top: auto;
  min-width: 1064px;
  margin-top: 31px;
  border-radius: 8px;
  padding: 0px;
  border: 1px solid #53535333;
}
.freeBox__x4Xl {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__stduf {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 150px;
  height: auto;
  max-width: 100%;
  margin-left: 20px;
  flex-shrink: 0;
  padding: 8px;
}
.profilePic {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 100px;
}
.profilePic > picture > img {
  object-fit: cover;
}
.communityLogo {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.2);
  margin-top: -33px;
  margin-left: 72px;
  flex-shrink: 0;
  border-radius: 8px;
}
.communityLogo > picture > img {
  object-fit: cover;
}
.freeBox__rxQph {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__na8Ob {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.firstName {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.lastName {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 6px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___96Bja {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.age {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__odfi9 {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 5px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.location {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___3GrDu {
  animation: none;
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
  padding: 0px;
}
.freeBox__ygidJ {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  border-radius: 8px;
  padding: 4px;
  border: 1px solid #228b2266;
}
.text__arrNd {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  color: #228b22;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__g8Zmt {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__aW6Ek {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  margin-right: 0px;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
.text__cOWc {
  animation: none;
  width: 200px;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  background: linear-gradient(180deg, #a5e612 0%, #0a390a 33%) 0% 0% / 100% 100%
    repeat;
  color: #ffffff;
  border-bottom-left-radius: 5px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 0px 0px 0px 10px;
}
.text__bmEpX {
  animation: none;
  width: 150px;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  background: linear-gradient(270deg, #e5d19c 0%, #988250 100%) 0% 0% / 100%
    100% repeat;
  color: #ffffff;
  border-bottom-left-radius: 5px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 0px 0px 0px 10px;
}
.freeBox__guiX {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 600px;
  height: auto;
  max-width: 100%;
  padding: 0px;
  margin: 8px;
}
.freeBox___7NugK {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  padding: 4px;
  border: 1px solid #228b2266;
}
.svg__ba0K {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-top: -7px;
  height: 1em;
}
.linkedIn {
  animation: none;
  color: #228b22;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__bhwH {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  padding: 4px;
  border: 1px solid #228b2266;
}
.svg__frtId {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.instagram {
  animation: none;
  color: #228b22;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__yjigd {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  padding: 4px;
  border: 1px solid #228b2266;
}
.svg__qyBkv {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.x {
  animation: none;
  color: #228b22;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.rateThisMember {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 1064px;
  margin-top: 31px;
  padding: 0px;
}
.text__orRwc {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 3px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__sqQcT {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 8px;
}
.freeBox__xg27G {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 31px;
  padding: 0px;
}
.freeBox__vIyaE {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
  max-width: 350px;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  border: 1px solid #53535333;
}
.svg__scGb9 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 150px;
  height: 150px;
  color: var(--token-m_dAPYJ5EIvi);
  box-shadow: none;
  flex-shrink: 0;
}
.text__fqscL {
  animation: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 8px;
}
.text___2UvpS {
  animation: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 8px;
}
.rate:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  z-index: 9999;
}
.rating:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-DNqeFngFdppV);
  box-shadow: none;
  font-size: 30px;
  padding: 8px;
}
.text__vKsL3 {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__maBcK {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__i9UwR {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__ys4VJ {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__j5PdF {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.h3__uQfN6 {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-style: normal;
  color: #000000;
  text-align: left;
  line-height: 1.2;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-size: var(--token-7SM9U0aJu1sz);
  min-width: 0;
  padding: var(--token-UT0HlXJtiX6p);
}
.freeBox__faajX {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-t2k15FQuuV6M);
}
.text__jrFgT {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.comment:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.freeBox___9U4F9 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.confirmRate:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
}
.svg__geeEk {
  position: relative;
  height: 1em;
}
.text__i6Fc {
  animation: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__eHQn {
  position: relative;
  height: 1em;
}
.button2__t6IK:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
}
.svg__dwZ6N {
  position: relative;
  height: 1em;
}
.text__nqoBe {
  animation: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__j2N5F {
  position: relative;
  height: 1em;
}
.freeBox__tManG {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  max-width: 350px;
  min-width: 350px;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  border: 1px solid #53535333;
}
.svg__heMmM {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 150px;
  height: 150px;
  color: var(--token-kmgKuNT2vqAV);
  box-shadow: none;
  flex-shrink: 0;
}
.text__nkT3 {
  animation: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 8px;
}
.text__smu0A {
  animation: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 8px;
}
.rate2:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  z-index: 9999;
}
.rateTechnical:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-DNqeFngFdppV);
  box-shadow: none;
  font-size: 30px;
  padding: 8px;
}
.text___55Bkp {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__gbIad {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__dcz33 {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text___55GVv {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__mJhhy {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.h3___2Qe19 {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-style: normal;
  color: #000000;
  text-align: left;
  line-height: 1.2;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-size: var(--token-7SM9U0aJu1sz);
  min-width: 0;
  padding: var(--token-UT0HlXJtiX6p);
}
.freeBox__apzRs {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-t2k15FQuuV6M);
}
.text___2Xivz {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.comment2:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.freeBox__kmvbU {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.confirmRate2:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
}
.svg__mx2Sp {
  position: relative;
  height: 1em;
}
.text__fVsX {
  animation: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__t9MxA {
  position: relative;
  height: 1em;
}
.button2__tcseP:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
}
.svg__cJq7T {
  position: relative;
  height: 1em;
}
.text__rtmYk {
  animation: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___05OGx {
  position: relative;
  height: 1em;
}
.freeBox__kY7Wq {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 350px;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  border: 1px solid #53535333;
}
.svg__tHvpk {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 150px;
  height: 150px;
  color: var(--token-QtAxzZLFXAHQ);
  box-shadow: none;
  flex-shrink: 0;
}
.text__tKeZ {
  animation: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 8px;
}
.text__q7P4 {
  animation: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 8px;
}
.memberRated:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-kmgKuNT2vqAV);
  font-size: 30px;
  padding: 8px;
}
.text__oaFrS {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text___3Z82Y {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text___37S2W {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__pmhqm {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__f3Zm {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.freeBox__faEn8 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  min-width: 1064px;
  max-height: 300px;
  overflow: auto;
  padding: 0px;
  margin: 31px;
}
.freeBox__vUacO {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__sfqy {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 8px;
}
.freeBox__qeqRh {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__aOsl {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 148px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
}
.text__niuFb {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 148px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
}
.text___3Msrp {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 148px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
}
.reportRate {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 12px;
  padding: 0px;
  margin: 8px 0px;
}
.reportDate {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 8px;
}
.freeBox__ihZl0 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.ethics:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.text__hIOt7 {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text___0I1Bx {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__q1MrV {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__ecRzq {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text___974Yq {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.technicalPerformance:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.text___9WAh4 {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text___6Jre7 {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__uVjmo {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__jCuXt {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__ibKkn {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.memberRated2:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  color: #f2dea9;
  padding: 8px;
}
.text__yF0Yx {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__ayawh {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__sEy2T {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text___8LIss {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__qu2OE {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
