.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-2MP8cSaPJfar);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  height: var(--token-AiuX5Pihjxdh);
  width: var(--token-AiuX5Pihjxdh);
  border-radius: 99px;
  border: 1px solid var(--token-s144XF7FREh7);
}
.root[data-hovered][data-hovered]:global(.__wab_instance) {
  border-width: 2px;
}
.root[data-focus-visible][data-focus-visible]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-s144XF7FREh7);
  outline-offset: 1px;
}
