.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #d9d9d9;
  align-content: center;
  justify-items: center;
  cursor: auto;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.img {
  object-fit: cover;
  max-width: auto;
  height: 100px;
  width: 700px;
  position: relative;
  left: auto;
  top: auto;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    position: relative;
    left: auto;
    top: auto;
    width: 400px;
  }
}
.rectangle {
  display: flex;
  width: 100%;
  height: 547px;
  background: #ffffff;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  border-radius: 51px;
  padding: 64px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rectangle {
    margin-bottom: 0px;
    height: 500px;
    margin-right: 0px;
    width: 375px;
    border-radius: 48px;
    padding: 24px;
  }
}
.solution {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .solution {
    position: relative;
    left: auto;
    top: auto;
  }
}
.text___65QS {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  flex-shrink: 0;
  margin: 2px;
}
.freeBox__i55B8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__lo0Bz {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.freeBox___0Php {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0Php {
    padding: 0px;
  }
}
.text__gvg9Y {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.text__hIn88 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.text__sJgry {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.text__vCpOo {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.freeBox__kLXuT {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 2px;
}
.text___3Iyic {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
}
.text__rk2Uh {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.text__dulsW {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  flex-shrink: 0;
  margin: 2px;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.comeToAddress {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___6A1Df {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  text-align: center;
  flex-shrink: 0;
}
.freeBox__hhXxg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__iGjdi {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox___5P2Av {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
}
.text__oeZGd {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  white-space: pre-wrap;
}
.text__uc0Ue {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  color: #000000;
  font-weight: 300;
}
.freeBox__vbVpK {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vbVpK {
    position: relative;
    left: auto;
    top: auto;
    padding: 0px;
  }
}
.svg__lxtnb {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__lxtnb {
    position: relative;
    left: auto;
    top: auto;
  }
}
.slotTargetEMailInput2 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.input__q561Y:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.schedule:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton__bxTcC:global(.__wab_instance) {
  max-width: 100%;
  width: 248px;
  height: 37px;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__bxTcC:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__tyEpX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___1IdPi {
  text-align: center;
}
.svg__faL1U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h3__nBYd {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  min-width: 0;
  padding: var(--token-UT0HlXJtiX6p);
}
.freeBox__llHKk {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-t2k15FQuuV6M);
}
.timePicker:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__fXrA3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__viTp {
  position: relative;
  height: 1em;
}
.text__zuu3I {
  padding-left: 0px;
  font-size: 14px;
}
.svg__kdTkh {
  position: relative;
  height: 1em;
}
._continue:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton__urqSn:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__urqSn:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__jeuMz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__yxvki {
  text-align: center;
}
.svg__urKxN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h3__mF64F {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  min-width: 0;
  padding: var(--token-UT0HlXJtiX6p);
}
.freeBox___7N22U {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-t2k15FQuuV6M);
}
.addCard:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton__naLvh:global(.__wab_instance) {
  max-width: 100%;
  width: 300px;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__naLvh:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg___1Goww {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__vaRJ {
  text-align: center;
  font-size: 12px;
}
.svg__fkIMd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h3__iuydh {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  min-width: 0;
  padding: var(--token-UT0HlXJtiX6p);
}
.freeBox__ff8AB {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-t2k15FQuuV6M);
}
.freeBox__y3B4L {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__i99K6 {
  position: relative;
  height: 1em;
}
.text__rlWXa {
  padding-left: 0px;
  font-size: 14px;
}
.svg__jrPv {
  position: relative;
  height: 1em;
}
.text__fK8Sq {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  flex-shrink: 0;
  margin: 2px;
}
.freeBox__eznrc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 2px;
}
.text__uuNjR {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
}
.text__knm52 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.freeBox__v6Raq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.reviewRequest:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton___5RzKa:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton___5RzKa:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__jJEgY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jecd {
  text-align: center;
  font-size: 14px;
}
.svg__pxCk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h3__udK18 {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #000000;
  text-align: center;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
  padding: var(--token-UT0HlXJtiX6p);
}
.freeBox__kwdVq {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-t2k15FQuuV6M);
  height: auto;
  width: auto;
  margin: 16px;
}
.freeBox__scV0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__wqPbh {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__aEveR {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__h2X0 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.text__rTsxL {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  color: #000000;
  font-weight: 300;
}
.text___2KqWw {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  flex-shrink: 0;
  margin: 2px;
}
.text__x4X1P {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.freeBox___8Acfw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 2px;
}
.text__ydYkK {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
}
.text__lZvJg {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.text__iFdSa {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin: 2px;
}
.freeBox__qLXfw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__bqbmh {
  position: relative;
  height: 1em;
}
.text__otGa3 {
  padding-left: 0px;
  font-size: 12px;
}
.svg__r5Ww7 {
  position: relative;
  height: 1em;
}
.loginButton__kgqxa:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__kgqxa:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__f5Ez {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__bw0J9 {
  text-align: center;
  font-size: 12px;
}
.svg__zOteH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fGxNi {
  position: relative;
  height: 1em;
}
.text__jErUq {
  padding-left: 0px;
  font-size: 14px;
}
.svg__j53BR {
  position: relative;
  height: 1em;
}
.getInTheWaitingLine:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton___6QLel:global(.__wab_instance) {
  max-width: 100%;
  width: 248px;
  height: 37px;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton___6QLel:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__jw3R8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zXAo {
  text-align: center;
}
.svg___9C8U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h3__eka3Y {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  min-width: 0;
  padding: var(--token-UT0HlXJtiX6p);
}
.freeBox__zgmX1 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-t2k15FQuuV6M);
}
.addCard2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton__oyu5D:global(.__wab_instance) {
  max-width: 100%;
  width: 300px;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__oyu5D:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__m6AAj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jzDjQ {
  text-align: center;
  font-size: 12px;
}
.svg__v2Lgh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h3__x9VH {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  min-width: 0;
  padding: var(--token-UT0HlXJtiX6p);
}
.freeBox__gNPlM {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-t2k15FQuuV6M);
}
.freeBox__dDpgo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__rHhQm {
  position: relative;
  height: 1em;
}
.text__nh6Mw {
  padding-left: 0px;
  font-size: 14px;
}
.svg__qeRj4 {
  position: relative;
  height: 1em;
}
.text__liGhz {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  flex-shrink: 0;
  margin: 2px;
}
.freeBox__jEcau {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 2px;
}
.text__jkzof {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
}
.text__u31 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.freeBox__jkt3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.reviewRequest2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton__jl371:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__jl371:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__ldncF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cymKq {
  text-align: center;
  font-size: 14px;
}
.svg___8Evye {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__u9Pxi {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-t2k15FQuuV6M);
  height: auto;
  width: auto;
  margin: 16px;
}
.freeBox___1E1Gs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__mdxvV {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__j9BwP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__bzl72 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.text__f6Lrk {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  color: #000000;
  font-weight: 300;
}
.text__nFtIx {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  flex-shrink: 0;
  margin: 2px;
}
.text___9T5L2 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.freeBox__tn44X {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 2px;
}
.text__pv7N {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
}
.text__c33Ee {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.text__yq2S7 {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin: 2px;
}
.freeBox__lOoej {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__khYx {
  position: relative;
  height: 1em;
}
.text__sYtnW {
  padding-left: 0px;
  font-size: 12px;
}
.svg__pOsdQ {
  position: relative;
  height: 1em;
}
.loginButton__saEmN:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__saEmN:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__w4Kx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__gsTh7 {
  text-align: center;
  font-size: 12px;
}
.svg___9Ya7N {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jYvic {
  position: relative;
  height: 1em;
}
.text__tS0Mj {
  padding-left: 0px;
  font-size: 14px;
}
.svg__qe5A0 {
  position: relative;
  height: 1em;
}
