.root:global(.__wab_instance) {
  position: relative;
  background: #185adb;
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-X1R2ANFgX5nT);
  font-family: var(--token-W_pNVrRfbbXd);
  font-size: var(--token-pG-xWz0Wmm45);
  line-height: var(--token-mwTm0i5bJ4Hq);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-cZRTvUUIc2fQ);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-Wfn6sqpifakH);
  outline-offset: 1px;
  outline-color: var(--token-s144XF7FREh7);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-42B6HgpFsdnj);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-QLMuW932hwgr);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-Ns8xsImd7jR3);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-4LW7jnyYl7OK);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-azDG17mCuVLt);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-z7T5t1k5b504);
  font-size: var(--token-atl8MQNEJgpV);
  column-gap: var(--token-Wfn6sqpifakH);
  row-gap: 0px;
  border-radius: var(--token-uKqxCNi-7OTA);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-atl8MQNEJgpV);
  line-height: var(--token-z7T5t1k5b504);
  column-gap: var(--token-uKqxCNi-7OTA);
  row-gap: 0px;
  border-radius: var(--token-uKqxCNi-7OTA);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-7SM9U0aJu1sz);
  line-height: var(--token-6wvVG-mlZ8aN);
  padding: 8px 16px;
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-7SM9U0aJu1sz);
  line-height: var(--token-6wvVG-mlZ8aN);
  padding: 16px 32px;
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-Mlh3jfVpEFQ4);
  border-radius: var(--token-cZRTvUUIc2fQ);
}
.softBackgroundcolor_neutral {
  background: var(--token-dgVXytIW2z4o);
}
.softBackgroundcolor_muted {
  background: var(--token-6SAIbbanqgHx);
}
.softBackgroundcolor_success {
  background: var(--token-kr0b6wbeKRA_);
}
.softBackgroundcolor_warning {
  background: var(--token-GefKw8X8-Zj3);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-vTt3iV2NVMKR);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-cZRTvUUIc2fQ);
  border: 0px solid var(--token-zTk0tyf-IlEj);
}
.bordercolor_neutral {
  border-color: var(--token-OXHoIXkTbu2J);
}
.bordercolor_muted {
  border-color: var(--token-F_L9uxRIhn9v);
}
.bordercolor_success {
  border-color: var(--token-0RdvoQtjZtYW);
}
.bordercolor_warning {
  border-color: var(--token-7D64j4ZWwqxA);
}
.bordercolor_errorDestructive {
  border-color: var(--token-yikPcMc15nsW);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
  border-color: #185adb;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-cZRTvUUIc2fQ);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-_2h6rNepdZqa);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-_PEJ2vx26zT6);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-KlP8PfpDTD5Z);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__gu43A {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-cZRTvUUIc2fQ);
  min-width: 0;
  min-height: 0;
  padding: var(--token-cZRTvUUIc2fQ) var(--token-RNS3ZFXBYd20);
}
.freeBoxsize_extraSmall__gu43AzZ7K {
  padding: var(--token-uKqxCNi-7OTA) var(--token-cZRTvUUIc2fQ);
}
.freeBoxsize_small__gu43AfoGw {
  padding: var(--token-cZRTvUUIc2fQ) var(--token-X1R2ANFgX5nT);
}
.freeBoxsize_large__gu43AwKbx {
  padding-top: var(--token-uKqxCNi-7OTA);
  padding-bottom: var(--token-uKqxCNi-7OTA);
}
.freeBoxsize_extraLarge__gu43A4G88O {
  padding-left: var(--token-t2k15FQuuV6M);
  padding-right: var(--token-t2k15FQuuV6M);
}
.freeBoxroundedFull__gu43AXidHd {
  padding-right: var(--token-t2k15FQuuV6M);
  padding-left: var(--token-t2k15FQuuV6M);
}
.freeBox__aFddv {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__aFddv35Dkk {
  display: flex;
}
.slotTargetStart {
  color: var(--token-BcspXVs4zjxC);
}
.slotTargetStartcolor_neutral {
  color: var(--token-0MXDiQv3oLsv);
}
.slotTargetStartcolor_muted {
  color: var(--token-2flRvbkKs4Mw);
}
.slotTargetStartcolor_success {
  color: var(--token-xtUILpvZM4Q0);
}
.slotTargetStartcolor_warning {
  color: var(--token-TahMhw0HjEzZ);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-ONNBSFuBsvBV);
}
.slotTargetStarttype_soft {
  color: var(--token-86WdgUikixq8);
}
.slotTargetStarttype_bordered {
  color: var(--token-86WdgUikixq8);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-atl8MQNEJgpV);
}
.slotTargetStartsize_small {
  font-size: var(--token-atl8MQNEJgpV);
}
.slotTargetStartsize_large {
  font-size: var(--token-7SM9U0aJu1sz);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-7SM9U0aJu1sz);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-A1HCgunkJM0L);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-A1HCgunkJM0L);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token--NMQLRGgTdf8);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token--NMQLRGgTdf8);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-jvGU6ZOo7nf7);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-jvGU6ZOo7nf7);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-Q5ssFNf8dl5P);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-Q5ssFNf8dl5P);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-rGdzmcBIBftZ);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-rGdzmcBIBftZ);
}
.svg__b10U4 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-BcspXVs4zjxC);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-0MXDiQv3oLsv);
}
.slotTargetLabelcolor_muted {
  color: var(--token-2flRvbkKs4Mw);
}
.slotTargetLabelcolor_success {
  color: var(--token-xtUILpvZM4Q0);
}
.slotTargetLabelcolor_warning {
  color: var(--token-TahMhw0HjEzZ);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-ONNBSFuBsvBV);
}
.slotTargetLabeltype_soft {
  color: var(--token-86WdgUikixq8);
}
.slotTargetLabeltype_bordered {
  color: var(--token-86WdgUikixq8);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-A1HCgunkJM0L);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token--NMQLRGgTdf8);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-A1HCgunkJM0L);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-jvGU6ZOo7nf7);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token--NMQLRGgTdf8);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-Q5ssFNf8dl5P);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-jvGU6ZOo7nf7);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-rGdzmcBIBftZ);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-Q5ssFNf8dl5P);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-rGdzmcBIBftZ);
}
.text___9Nem {
  white-space: pre;
}
.freeBox___65Qh8 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___65Qh8HBk1K {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-BcspXVs4zjxC);
}
.slotTargetEndcolor_neutral {
  color: var(--token-0MXDiQv3oLsv);
}
.slotTargetEndcolor_muted {
  color: var(--token-2flRvbkKs4Mw);
}
.slotTargetEndcolor_success {
  color: var(--token-xtUILpvZM4Q0);
}
.slotTargetEndcolor_warning {
  color: var(--token-TahMhw0HjEzZ);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-ONNBSFuBsvBV);
}
.slotTargetEndtype_soft {
  color: var(--token-86WdgUikixq8);
}
.slotTargetEndtype_bordered {
  color: var(--token-86WdgUikixq8);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-atl8MQNEJgpV);
}
.slotTargetEndsize_small {
  font-size: var(--token-atl8MQNEJgpV);
}
.slotTargetEndsize_large {
  font-size: var(--token-7SM9U0aJu1sz);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-7SM9U0aJu1sz);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-A1HCgunkJM0L);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-A1HCgunkJM0L);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token--NMQLRGgTdf8);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token--NMQLRGgTdf8);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-jvGU6ZOo7nf7);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-jvGU6ZOo7nf7);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-Q5ssFNf8dl5P);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-Q5ssFNf8dl5P);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-rGdzmcBIBftZ);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-rGdzmcBIBftZ);
}
.svg__dDbiy {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
