.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-uKqxCNi-7OTA);
  min-width: 0;
}
.ariaComboBox[data-disabled][data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.ariaInput:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px var(--token-mILT2R0qeEBp);
  width: 100%;
  font-size: var(--token-pG-xWz0Wmm45);
  line-height: var(--token-mwTm0i5bJ4Hq);
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-cZRTvUUIc2fQ);
  padding: var(--token-cZRTvUUIc2fQ) var(--token-efZ14FwnmMyP)
    var(--token-cZRTvUUIc2fQ) var(--token-RNS3ZFXBYd20);
  border-style: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-efZ14FwnmMyP);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-efZ14FwnmMyP);
  flex-shrink: 0;
  border-radius: var(--token-cZRTvUUIc2fQ);
  border: 1px none black;
}
.svg {
  width: var(--token-O2cqjd1Z1Skv);
  height: var(--token-O2cqjd1Z1Skv);
}
.description2:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__br6Hc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
