.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-uKqxCNi-7OTA);
  min-width: 0;
}
.ariaRadioGroup[data-disabled][data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__vBdhp {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-uKqxCNi-7OTA);
}
.radio__l3Gi8:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__l1Fg:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__ybgKe:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description2:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
