.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #d9d9d9;
  align-content: center;
  justify-items: center;
  cursor: auto;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.img {
  object-fit: cover;
  max-width: auto;
  height: 100px;
  width: 700px;
  position: relative;
  left: auto;
  top: auto;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    position: relative;
    left: auto;
    top: auto;
    width: 400px;
  }
}
.rectangle {
  display: flex;
  width: 100%;
  height: 547px;
  background: #ffffff;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  border-radius: 51px;
  padding: 64px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rectangle {
    margin-bottom: 0px;
    height: 500px;
    margin-right: 0px;
    width: 375px;
    border-radius: 48px;
    padding: 24px;
  }
}
.solution {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .solution {
    position: relative;
    left: auto;
    top: auto;
  }
}
.text__z9X21 {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  flex-shrink: 0;
  margin: 2px;
}
.freeBox__dfFme {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__vxswy {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.freeBox__m2Gbh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m2Gbh {
    padding: 0px;
  }
}
.text___4ZS54 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.text__u5TX {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.text__dgQs {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.text__x5UrF {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.freeBox__fDvk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 2px;
}
.text__s4BI {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
}
.text__n6SR {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.text___0Vp5K {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  flex-shrink: 0;
  margin: 2px;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.comeToAddress {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__p1YXy {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  text-align: center;
  flex-shrink: 0;
}
.freeBox__ju67C {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg___3Uqyg {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__g0W5B {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__oGGn0 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.text__vlge {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  color: #000000;
  font-weight: 300;
}
.modal:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton__f6DS7:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__f6DS7:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__g2DYr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___2KxJb {
  text-align: center;
  font-size: 14px;
}
.svg__qYliv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h3__ysWpd {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  min-width: 0;
  padding: var(--token-UT0HlXJtiX6p);
}
.freeBox__hsKBv {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-t2k15FQuuV6M);
  height: 736px;
  width: auto;
}
.freeBox__dbQUv {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dbQUv {
    position: relative;
    left: auto;
    top: auto;
    padding: 0px;
  }
}
.svg__c0F31 {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__c0F31 {
    position: relative;
    left: auto;
    top: auto;
  }
}
.slotTargetEMailInput3 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.input__zo8Ik:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___12C2U {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__z6HF {
  position: relative;
  height: 1em;
}
.text__t2Ak {
  padding-left: 0px;
  font-size: 12px;
}
.svg__ifGye {
  position: relative;
  height: 1em;
}
.freeBox__dZGD {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dZGD {
    position: relative;
    left: auto;
    top: auto;
    padding: 0px;
  }
}
.svg__s3ONy {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__s3ONy {
    position: relative;
    left: auto;
    top: auto;
  }
}
.slotTargetEMailInput2 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.input__k2Fio:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
._continue:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton__ojfDm:global(.__wab_instance) {
  max-width: 100%;
  width: 248px;
  height: 37px;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__ojfDm:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__n2A5J {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__vTk0F {
  text-align: center;
}
.svg__g5Wsb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h3__zAr4K {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  min-width: 0;
  padding: var(--token-UT0HlXJtiX6p);
}
.freeBox__fVwYm {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-t2k15FQuuV6M);
}
.addCard:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton__pc0VM:global(.__wab_instance) {
  max-width: 100%;
  width: 300px;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__pc0VM:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__b1YyP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lmtJq {
  text-align: center;
  font-size: 12px;
}
.svg__rwV3S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h3__rc6Lu {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  min-width: 0;
  padding: var(--token-UT0HlXJtiX6p);
}
.freeBox__gWqKq {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-t2k15FQuuV6M);
}
.freeBox__vx7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__w4Nd {
  position: relative;
  height: 1em;
}
.text__cs2R5 {
  padding-left: 0px;
  font-size: 14px;
}
.svg__mmQbG {
  position: relative;
  height: 1em;
}
.text__dwIhb {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  flex-shrink: 0;
  margin: 2px;
}
.freeBox__wdjUv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 2px;
}
.text__nhpDj {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
}
.text__wQy2Z {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.freeBox__t3F6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.reviewRequest:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton___57WEh:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton___57WEh:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__ljwAv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jdtaw {
  text-align: center;
  font-size: 14px;
}
.svg__nmYgs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__ky0MK {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-t2k15FQuuV6M);
  height: auto;
  width: auto;
  margin: 16px;
}
.freeBox__mxI9G {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__eUQat {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__tUcK {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__hjXhc {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.text__ceCbu {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  color: #000000;
  font-weight: 300;
}
.text__eCr7P {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  flex-shrink: 0;
  margin: 2px;
}
.text__eGgM {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.freeBox__p6Cf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 2px;
}
.text__oFtX {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
}
.text__mKqdf {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.text__h5KyY {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin: 2px;
}
.freeBox__x0RM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg___6Yzjf {
  position: relative;
  height: 1em;
}
.text__fn9Ea {
  padding-left: 0px;
  font-size: 12px;
}
.svg__s86P {
  position: relative;
  height: 1em;
}
.loginButton__gq7Y0:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__gq7Y0:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__zsfPd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___0Kc3E {
  text-align: center;
  font-size: 12px;
}
.svg__wvIy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__sjfeI {
  position: relative;
  height: 1em;
}
.text__jMXtZ {
  padding-left: 0px;
  font-size: 14px;
}
.svg__b3 {
  position: relative;
  height: 1em;
}
