.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  row-gap: var(--token-uKqxCNi-7OTA);
  min-width: 0;
}
.ariaTextField[data-disabled][data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label2:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__klYc {
  display: flex;
  flex-direction: column;
}
.freeBox___8HgSb {
  flex-direction: row;
  position: absolute;
  height: var(--token-efZ14FwnmMyP);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-cZRTvUUIc2fQ) var(--token-RNS3ZFXBYd20);
}
.freeBoxiconStart___8HgSbDqCdo {
  display: flex;
}
.slotTargetStart {
  color: var(--token-WmWO-CthcwJL);
}
.svg___0DtD5 {
  position: relative;
  height: 1em;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox__dtlTt {
  height: var(--token-efZ14FwnmMyP);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-cZRTvUUIc2fQ) var(--token-RNS3ZFXBYd20);
}
.freeBoxiconEnd__dtlTtMhs3V {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-WmWO-CthcwJL);
}
.svg__yon7R {
  position: relative;
  height: 1em;
}
.description2:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
