.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #d9d9d9;
  align-content: center;
  justify-items: center;
  cursor: auto;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.img {
  object-fit: cover;
  max-width: auto;
  height: 100px;
  width: 700px;
  position: relative;
  left: auto;
  top: auto;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    position: relative;
    left: auto;
    top: auto;
    width: 400px;
  }
}
.rectangle {
  display: flex;
  width: 100%;
  height: 547px;
  background: #ffffff;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  border-radius: 51px;
  padding: 64px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rectangle {
    margin-bottom: 0px;
    height: 500px;
    margin-right: 0px;
    width: 375px;
    border-radius: 48px;
    padding: 24px;
  }
}
.solution {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .solution {
    position: relative;
    left: auto;
    top: auto;
  }
}
.text__bjsvF {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  flex-shrink: 0;
  margin: 2px;
}
.freeBox__mQfuq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___0W7Dr {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.freeBox__l0Tpt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l0Tpt {
    padding: 0px;
  }
}
.text__tA09P {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.text___394B {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.text__yGdul {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.text__sclR2 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.text__lrIte {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  flex-shrink: 0;
  margin: 2px;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.comeToAddress {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__fLfzu {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  text-align: center;
  flex-shrink: 0;
}
.freeBox___5WnLj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__osDUj {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__yMig {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text___5AWyw {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.text___9Dwjs {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  color: #000000;
  font-weight: 300;
}
.modal:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton__jkOev:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__jkOev:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg___6Xckz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rNeEb {
  text-align: center;
  font-size: 14px;
}
.svg___2GRa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BwOcdtoxJOlu);
  min-width: 0;
  padding: var(--token-UT0HlXJtiX6p);
}
.freeBox__ofssh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-t2k15FQuuV6M);
  height: 736px;
  width: auto;
}
.freeBox___50BO8 {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___50BO8 {
    position: relative;
    left: auto;
    top: auto;
    padding: 0px;
  }
}
.svg__lwAtl {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__lwAtl {
    position: relative;
    left: auto;
    top: auto;
  }
}
.slotTargetEMailInput3 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.input__rsAc9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___0FMrJ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__uIz26 {
  position: relative;
  height: 1em;
}
.text__lOmRu {
  padding-left: 0px;
  font-size: 12px;
}
.svg__jnrLq {
  position: relative;
  height: 1em;
}
.freeBox__vHvpR {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  justify-content: center;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vHvpR {
    position: relative;
    left: auto;
    top: auto;
    padding: 0px;
  }
}
.svg__tu1L {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__tu1L {
    position: relative;
    left: auto;
    top: auto;
  }
}
.slotTargetEMailInput2 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.input__uPf5O:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.reviewRequest:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.loginButton__qLfjn:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__qLfjn:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__hTvmh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__pqjwL {
  text-align: center;
  font-size: 14px;
}
.svg__tquj7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__oq9Ha {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-t2k15FQuuV6M);
  height: auto;
  width: auto;
  margin: 16px;
}
.freeBox__ybnZu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__o7VJa {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__uld66 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__dmBcX {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.text__twhaR {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  color: #000000;
  font-weight: 300;
}
.text__ezXbr {
  width: 145px;
  height: 17px;
  max-width: 100%;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  flex-shrink: 0;
  margin: 2px;
}
.text__bQT {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  margin: 2px;
}
.freeBox__lJbUr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 2px;
}
.text__dzBe {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
}
.text___4I8Gb {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}
.text__kpy0T {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin: 2px;
}
.freeBox__l3VSf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__a76N4 {
  position: relative;
  height: 1em;
}
.text__uhRa {
  padding-left: 0px;
  font-size: 12px;
}
.svg__z04Rc {
  position: relative;
  height: 1em;
}
.loginButton__aH3Z:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginButton__aH3Z:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__uqoh7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zWipr {
  text-align: center;
  font-size: 12px;
}
.svg__pdPc9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
